<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/home" class="navbar-logo">MyApp</a>
    
    <ul class="navbar-menu">
      <li>
        <a routerLink="/home" routerLinkActive="active">
          Home
        </a>
      </li>
      <li>
        <a routerLink="/UserProfile" routerLinkActive="active">
          Profile
        </a>
      </li>
      <li>
        <button (click)="logout()" class="logout-btn">
          Logout
        </button>
      </li>
    </ul>
  </div>
</nav>